<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-secutiry">
    <head th:replace="layout/plantilla :: head">
        <title>[[#{local.formulario}]]</title>
        <meta charset="UTF-8">


    </head>
    <body>

        <header th:replace="layout/plantilla :: header"></header>



        </br>

        <div class="container" style="margin-top: 1%">
            <form id="id_form" th:action="@{/listaLocal}" >
                <div class="row">

                    <div class="col-auto ">
                        <label > [[#{index.filtrar}]]</label>
                    </div>
                    <div class="col-auto ">
                        <input type="text" name="nombre" class="form-control" id="nombre" th:value="${nombre}" >
                    </div>

                    <div class="col-auto">
                        <input type="submit" class="btn btn-info mb-3"  th:value="#{index.btn-buscar}">
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="content" >

                                <div th:if="${locales !=null and !locales.empty}"   >


                                    <table border="1" class="table table-success table-striped table-bordered align-middle">
                                        <thead class="thead-dark" style="text-align: center;">
                                            <tr>

                                                <th>[[#{local.nombre}]]  </th>
                                                <th>[[#{local.aforo}]]  </th>
                                                <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.editar}]]  </th>
                                                <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.eliminar}]]  </th>

                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr th:each="local : ${locales}"  style="text-align: center;">

                                                <td    th:text="${local.nombre}"> Mostrar     </td>
                                                <td    th:text="${local.aforo}"> Mostrar     </td>

                                                <td sec:authorize="hasRole('ROLE_ADMIN')">   <a th:href="@{/editarLocal/} + ${local.id_local}" class="btn btn-secondary" >
                                                        <i class="fas fa-angle-double-right"></i> 
                                                        [[#{accion.editar}]] </a>     </td>
                                                <td sec:authorize="hasRole('ROLE_ADMIN')">   <a th:href="@{/eliminarLocal/} + ${local.id_local}" class="btn btn-primary"> 
                                                        <i class="fas fa-angle-double-right"></i> 
                                                        [[#{accion.eliminar}]] </a>     </td>

                                            </tr>
                                        </tbody>

                                    </table>

                                </div>

                                <div class="text-center p-2" th:if="${locales == null or locales.empty}"  >

                                    [[#{local.lista-vacia}]]




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <footer th:replace="layout/plantilla :: footer"></footer>





    </body>
</html>
