<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-secutiry">
    <head th:replace="layout/plantilla :: head">
        <title>[[#{zona.formulario}]</title>
        <meta charset="UTF-8">


    </head>
    <body>

        <header th:replace="layout/plantilla :: header"></header>


        </br>
        <div class="container" style="margin-top: 1%">

            <form id="id_form"  > 

                <div class="row">
                    <div class="col-auto ">
                        <label>[[#{index.filtrar}]] </label>
                    </div>

                    <div class="col-auto ">
                        <input type="text" name="zona" class="form-control" id="zona"  >
                    </div>

                    <div class="col-auto">
                        <input type="submit" class="btn btn-info mb-3" th:value="#{index.btn-buscar}">

                    </div>

                    <div class="row">

                        <div class="col-md-12">
                            <div class="content" >

                                <div th:if="${zonaEventos !=null and !zonaEventos.empty}"   >

                                    <table border="1" class="table table-success table-striped table-bordered align-middle" >

                                        <thead class="thead-dark" style="text-align: center;">
                                            <tr>

                                                <th>[[#{evento.nombre}]]  </th>
                                                <th>[[#{zona.zona}]]  </th>
                                                <th>[[#{zona.precio}]]  </th>
                                                <th>[[#{zona.stock}]]  </th>
                                                <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.editar}]]  </th>
                                                <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.eliminar}]]  </th>

                                            </tr>
                                        </thead>

                                        <tbody style="text-align: center;">
                                            <tr th:each="zonaEvento : ${zonaEventos}"  >

                                                <td    th:text="${zonaEvento.evento.nombre}"> Mostrar     </td>
                                                <td    th:text="${zonaEvento.zona}"> Mostrar     </td>
                                                <td    th:text="${zonaEvento.precio}"> Mostrar     </td>
                                                <td    th:text="${zonaEvento.stock}"> Mostrar     </td>

                                                <td sec:authorize="hasRole('ROLE_ADMIN')">   <a th:href="@{/editarZona/} + ${zonaEvento.id_zona}" class="btn btn-secondary" >
                                                        <i class="fas fa-angle-double-right"></i> [[#{accion.editar}]] </a>     </td>
                                                <td sec:authorize="hasRole('ROLE_ADMIN')">   <a th:href="@{/eliminarZona/} + ${zonaEvento.id_zona}" class="btn btn-primary"> 
                                                        <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]] </a>     </td>

                                            </tr>
                                        </tbody>
                                    </table>

                                </div>

                                <div class="text-center p-2" th:if="${zonaEventos == null or zonaEventos.empty}"  >

                                    [[#{zona.lista-vacia}]]




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <footer th:replace="layout/plantilla :: footer"></footer>





    </body>
</html>
